* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#header {
  /* position: sticky;
  top: 0px; */
}

.header {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 52px;
}

.header-nav a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}

.btns button {
  /* color: #000;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
  margin-left: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.hero {
  background: #100e14;
  text-align: center;
  padding-bottom: 80px;
}

.hero h1 {
  color: #fff;
  font-size: 63px;
  font-weight: 400;
  line-height: 73px; /* 115.873% */
  letter-spacing: 2.88px;
  padding: 96px 0 44px 0;
}

.hero h6 {
  color: rgba(255, 255, 255, 0.7);
  /* text-align: center; */
  font-size: 28px;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
  letter-spacing: 0.42px;
  margin-bottom: 73px;
}

.hero button {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  line-height: 26.4px; /* 114.783% */
  padding: 15px 46px 24px 30px;
  background: #ff4343;
  border-radius: 8px;
  margin-bottom: 19px;
}

.hero p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.42px;
  margin-bottom: 61px;
}

.hero-img {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.little-img {
  position: absolute;
  right: -110px;
  top: 0;
}

#shoot {
  background: #100e14;
}

.shoot {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.shoot-img {
  position: relative;
  margin-left: 40px;
}

.img-left {
  /* position: relative; */
  margin-left: 48px;
  width: 373px;
  height: 519px;
  margin-top: 190px;
  object-fit: cover;
}

.img-right {
  position: absolute;
  left: 255px;
  width: 341px;
  height: 562px;
  margin-top: 80px;
}

.shoot h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 70.4px; /* 121.379% */
  letter-spacing: 1.92px;
}

.shoot p {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-weight: 400;
  line-height: 37.8px; /* 145.385% */
  letter-spacing: 1.08px;
}

#orange {
  background: #100e14;
}

.orange {
  display: flex;
  align-items: center;
  padding-bottom: 150px;
}

.left-img {
  width: 562px;
  height: 422px;
  position: relative;
  z-index: 4;
}

.right-img {
  width: 562px;
  height: 422px;
  position: absolute;
}

.orange-text {
  margin-left: 133px;
}

.orange h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 70.4px; /* 121.379% */
  letter-spacing: 1.92px;
  margin-bottom: 38px;
}

.orange p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 37.8px; /* 140% */
  letter-spacing: 1.08px;
}

.orange-text p span {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 37.8px;
  letter-spacing: 1.08px;
}

#add {
  background: #100e14;
  padding-bottom: 70px;
}

.add {
  display: flex;
  align-items: center;
}

.add-text h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 400;
  line-height: 70.4px; /* 130.37% */
  letter-spacing: 3.2px;
  margin-bottom: 38px;
}

.add p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 37.8px; /* 140% */
  letter-spacing: 1.08px;
}

.add p span {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 37.8px;
  letter-spacing: 1.08px;
}

.make {
  width: 571px;
  height: 340px;
  background-color: #fff;
  border-radius: 40px;
  margin-left: 100px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 39, 67, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.be {
  clip-path: ellipse(49% 40% at 50% 50%);
  background: #ff4343;
  width: 60px;
  height: 40px;
  margin-left: 40px;
}

.be1 {
  clip-path: ellipse(49% 40% at 50% 50%);
  background: #ff4343;
  width: 60px;
  height: 40px;
  margin-left: 80px;
}

.head-work {
  margin: 84px 53px;
}

.work {
  display: flex;
  align-items: center;
  width: 460px;
  height: 80px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.878);
  margin-bottom: 10px;
}

ion-icon {
  font-size: 40px;
  margin-top: -20px;
  color: white;
  margin-left: 8px;
}

.work h1 {
  font-size: 16px;
  color: white;
  margin-top: 12px;
  margin-left: 10px;
}

.work h1 span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 700;
  line-height: 37.8px;
  letter-spacing: 1.08px;
}

#apps {
  background: #121118;
  padding-top: 200px;
  padding-bottom: 180px;
}

.apps {
  display: flex;
  align-items: center;
}

.apps-text {
  margin-left: 60px;
}

.apps-text h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 70.4px; /* 121.379% */
  letter-spacing: 1.92px;
}

.apps-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 37.8px; /* 151.2% */
  letter-spacing: 1.08px;
}

.apps-text p span {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  line-height: 37.8px;
  letter-spacing: 1.08px;
}

#elements {
  padding: 60px 0;
  background: #121118;
}

.elements {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group {
  width: 562px;
  height: 350px;
  background-color: #34333357;
  border-radius: 50px;
}

.elements-title {
  margin-left: 90px;
}

.elements-title h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 70.4px; /* 121.379% */
  letter-spacing: 1.92px;
  margin-bottom: 38px;
}

.elements-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 37.8px; /* 151.2% */
  letter-spacing: 1.08px;
}

.elements-title span {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  line-height: 37.8px;
  letter-spacing: 1.08px;
}

.socials {
  position: relative;
  display: flex;
  justify-content: end;
}

.youtube {
  width: 70px;
  height: 280px;
  /* background: linear-gradient(red rgba(145, 4, 4, 0.397)); */
  background-color: red;
  border-top-left-radius: 15px;
}

.youtube ion-icon {
  margin: 18px 10px;
  font-size: 32px;
}

.you {
  background: -moz-linear-gradient(red black);
}

/* .ins {
  position: absolute;
  left: 100px;
} */

#trust {
  background: #121118;
  padding: 100px 0;
}

.trust {
  text-align: center;
}

.trust h1 {
  color: #fff;
  font-size: 61px;
  font-weight: 400;
  line-height: 83.2px; /* 136.393% */
  letter-spacing: 2.56px;
  margin-bottom: 38px;
}

.trust p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 26px;
  font-weight: 400;
  line-height: 37.8px; /* 145.385% */
  letter-spacing: 0.42px;
  margin-bottom: 88px;
}

hr {
  width: 120px;
  margin-left: 520px;
  margin-bottom: 38px;
  background: #ff4343;
  height: 5px;
}

.trust-imges {
  display: flex;
  justify-content: space-between;
  width: 251.188px;
  height: 452.125px;
  gap: 16px;
  margin-left: -80px;
}

.trust1 {
  width: 251.188px;
  height: 452.125px;
  flex-shrink: 0;
  background: url(./img/trust1.png);
}

.trust2 {
  width: 251.188px;
  height: 452.125px;
  flex-shrink: 0;
  background: url(./img/trust2.png);
}

.trust3 {
  width: 251.188px;
  height: 452.125px;
  flex-shrink: 0;
  background: url(./img/trust3.png);
}

.trust4 {
  width: 251.188px;
  height: 452.125px;
  flex-shrink: 0;
  background: url(./img/trust4.png);
}

.trust5 {
  width: 251.188px;
  height: 452.125px;
  flex-shrink: 0;
  background: url(./img/trust5.png);
}

.trust-imges h1 {
  color: #fff;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  line-height: 34.8px; /* 120% */
  letter-spacing: 0.42px;
  margin-top: 270px;
}

.trust-imges p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.42px;
  margin-bottom: 49px;
}

.trust-imges p span {
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.trust2-text h1 {
  margin-top: 230px;
}

#offer {
  background: #121118;
  padding: 50px 0;
}

.offer {
  text-align: center;
}

.offer h6 {
  color: #8bffb0;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px; /* 109.091% */
  letter-spacing: 0.42px;
  margin-bottom: 21px;
}

.offer h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  line-height: 83.2px; /* 143.448% */
  letter-spacing: 1.92px;
  margin-bottom: 32px;
}

.offer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 27px;
  font-weight: 400;
  line-height: 39.2px; /* 145.185% */
  letter-spacing: 0.42px;
  margin-bottom: 70px;
}

#teach {
  background: #121118;
  padding-top: 100px;
}

.teach {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #1d1b24;
  width: 1140px;
  height: 433px;
  text-align: center;
}

.teach h1 {
  color: #fff;
  font-size: 63px;
  font-weight: 400;
  line-height: 91px; /* 144.444% */
  letter-spacing: 2.1px;
  padding-top: 60px;
  margin-bottom: 40px;
}

.teach p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 27px;
  font-weight: 400;
  line-height: 36.4px; /* 134.815% */
  letter-spacing: 0.42px;
  margin-bottom: 71px;
}

.teach button {
  background: #ff4343;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  line-height: 26.4px; /* 114.783% */
  letter-spacing: 0.42px;
  padding: 20px;
}

.button-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

#can {
  height: 432px;
  width: 100%;
  background: url(./img/can.png) no-repeat center/cover;
}

.can {
  text-align: center;
  background: linear-gradient(180deg, #1d1b24 0%, rgba(0, 0, 0, 0) 100%);
}

.can h1 {
  color: #fff;
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
  line-height: 48.837px; /* 116.279% */
  letter-spacing: 0.42px;
  margin-bottom: 13px;
  padding-top: 141px;
}

.can p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 23px;
  font-weight: 400;
  line-height: 30px; /* 130.435% */
  letter-spacing: 0.42px;
}

#featured {
  padding: 100px 100px;
  background: #0a0a0ad4;
}

.container h1 {
  color: #fff;
  font-size: 58px;
  font-weight: 400;
  line-height: 70.4px; /* 121.379% */
  letter-spacing: 1.92px;
  margin-bottom: 109px;
}

.chanel {
  display: flex;
}

.wild {
  width: 369px;
  height: 429px;
  background: #95fec1;
  margin-top: 20px;
}

.nova {
  width: 246px;
  height: 449px;
  background: url(./img/nova.png);
}

.nova h1 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px; /* 105.263% */
  letter-spacing: 0.42px;
  margin-top: 371px;
  margin-left: 15px;
}

.icon-you a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.42px;
}

.icon-you {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -100px;
  margin-left: 15px;
}

.wild-text h5 {
  color: #11d161;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.wild {
  position: relative;
}

.wild-text h1 {
  color: #fff;
  font-size: 29px;
  font-weight: 400;
  line-height: 36px; /* 124.138% */
  letter-spacing: 0.42px;
}

.wild-text p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.42px;
  margin-top: -70px;
}

.wild-text {
  margin: 30px;
}

.sign h1 {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px; /* 105.263% */
  letter-spacing: 0.6px;
  margin-left: 200px;
  margin-top: 70px;
}

.vector {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.featured {
  display: flex;
  gap: 40px;
  padding-bottom: 100px;
}

#footer {
  background: black;
}

.footer {
  width: 1300px;
  margin: 0 auto;
}
